.main {
  min-height: 100vh;
}

.left {
  background-color: #6b54fe;
}

.circle {
  font-size: 18px !important;
  cursor: pointer;
  color: white;
  margin-bottom: 5px;
}

.surveyTitle {
  font-size: 38px;
  font-weight: bold;
  color: white;
  padding: 0px 50px;
  text-align: left;
}

.surveyOptionsContainer {
  width: 360px;
  margin-top: 120px;
}

.surveyOptionEmoji {
  font-size: 60px;
  margin: 0;
}

.surveyOptionText {
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s;
  margin-bottom: 0;
}

.surveyOptionContainer {
  cursor: pointer;
  width: 100px;
  padding: 20px;
}

.surveyOptionContainer:hover .surveyOptionText,
.surveyOptionContainer.active .surveyOptionText {
  opacity: 1;
}

.surveyOptionContainer.active {
  background: rgb(237 254 84 / 41%);
  border-radius: 20px;
}

.summaryQuestion {
  font-size: 26px;
  font-weight: bold;
  color: white;
  padding: 0px 50px;
  text-align: left;
}

